*{
    /* border: 1px solid black; */
    max-width: 100%;
}

body{
    margin:5%;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
}

/* header{
    display: flex;
    justify-content: right;
    align-items: center;
} */

nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* padding-right: 20%; */
    /*flex: auto; /*This is equivalent to flex: 1 1 auto (grow/shrink/basis). Beware, this is not the default value. It sizes the item based on its width/height properties, but makes it fully flexible so that they absorb any extra space along the main axis. */
}

nav a{
    margin: 0 0 0 10px;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    background-color: seashell;
    color: black;
    font-size: 0.75rem;
}

header h2{
    font-size: 1.5rem;
}

.topContainer{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    padding: 10%;
    background-image: url(https://images.unsplash.com/photo-1488278905738-514111aa236c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9);
    background-position-x: 0px;
    background-position-y: -2296px;
    line-height: .4;
}

/* .contents{
    display: flex;
    flex-direction: column;
} */

h1{
    font-family: 'Montserrat Subrayada';
    font-size: 3rem;
    color: white;
    font-weight: bolder;
}

.contents a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-style: italic;
    background-color: seashell;
    padding: 2%;
    border-radius: 10%;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.gallery .item{
    width: 30rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* .item{
    display: inline-block;
 } */ /*what was this for?? */

.gallery a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 144, 153, 0.555);
}

.footer{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-style: italic;
    background-color: seashell;
    margin: 2%;
    padding: .5%;
    border-radius: 10%;
}